/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #af5656;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    width: 250px;
    min-height: 658px;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
}

.escondido {
    display: none;
}

.divItem01,
.divItem02,
.divItem03 {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.fechaSessao {
    margin-top: 15px;
}